.Blog-Sections {
    order: 3;
    display: flex;
    flex-direction: column;
    color: white;
    padding : 1em;
    align-items: center;
    p:hover, h1:hover, h2:hover{
        cursor: default;
    }
}

.Blog-ThumbNail {
    object-fit: stretch;
    max-width: 40%;
    margin: 0;
}

.Blog-Tile-Title {
    margin-bottom: .5em;
}

.Blog-Tile-SubTitle{
    display: block;
    font-size: 1rem;
    margin-bottom: 0em;
    color: rgb(114, 108, 108);
}

.Blog-Content-Wrapper {
    flex-basis: 70%;
    padding: 0rem 1rem 0rem 1rem;
}

.Blog-OverView-Wrapper{
    margin: 1em;
    display: flex;
    width: 80%;
    max-height: 50vh;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    border: 2px solid rgb(110, 110, 110);
    box-shadow: 10px 10px 10px black;
    &:hover{
        
        transition: .3s ease-in-out;
    }
}

.Blog-readmore{
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.reverse{
    flex-direction: row-reverse;
}
.normal{
    flex-direction: row;
}

.Blog-Tile-Summary {
    font-size: 1rem;
    line-height: 26pt;

}

.bottom {
    order: 0;
}

.Blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(110, 110, 110);
    padding: 1rem;
    min-height: 50vh;
    width: 80%;
    box-shadow: 10px 10px 10px black;
}

.Blog-Title{

}

.Blog-Content{

}