html,body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 0 0;
    }
h2 {
    font-family: 'Grand Hotel';
    font-weight: normal;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: white;
    }
p {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 23px;
    margin: 0 0 23px 0;
    }


body > section{
  display: flex;
  flex-direction: column;
  background-color: #353638;
}

.nav{
  height: 85vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  order: 1;
  background: linear-gradient(rgba(53, 54, 56,.1),rgba(53, 54, 56,.9))
}

.nav div{
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 30%;
  flex: 1;
  transition: 1.5s ease-in-out;
  background-position: center bottom;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}

.nav div:nth-child(1){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("https://images.pexels.com/photos/3192/woman-girl-beauty-mask.jpg");
}

.nav div:nth-child(2){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.nav div:nth-child(3){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("https://images.freeimages.com/images/large-previews/0f7/sunbathing-1436371.jpg");
}

.nav div:nth-child(4){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("https://images.pexels.com/photos/745128/pexels-photo-745128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.nav div:nth-child(5){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("https://images.pexels.com/photos/839605/pexels-photo-839605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.nav div:hover{
  transition: 1.5s ease-in-out; 
  flex: 2;
}

.nav > div > h2 {
  margin-top: 20vh;
  font-size: 3em;
}

.nav > div > p {
  opacity: 0;
  cursor: pointer;
  color: white;
  transition: 3s ease-in-out;
}

.nav div:hover > *{
  opacity: 1;
  transition: 3s ease-in-out;
}

.bottom{
  height: 15vh;
  order: 2;
  color: white;
  text-align: center;
  cursor: default;
}

.bottom  p{
  margin: auto auto;
  width: 30%;
  transition: 1s;
}

.bottom  p:hover{
  transition: 1s;
  color: brown;
  cursor: pointer;
}

@media screen and (max-width: 850px){
  .bottom{
    order: 0;
  }
  .nav {
    display: none;
    order: 1;
  }
}
