html,body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 0 0;
    }
h2 {
    font-family: 'Grand Hotel';
    font-weight: normal;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: white;
    }
p {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 23px;
    margin: 0 0 23px 0;
    }


body > section{
  display: flex;
  flex-direction: column;
  background-color: #353638;
}

.nav{
  height: 85vh;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  order: 1;
  background: linear-gradient(rgba(53, 54, 56,.1),rgba(53, 54, 56,.9))
}

.nav div{
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 30%;
  flex: 1;
  transition: 1.5s ease-in-out;
  background-position: center bottom;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}

.nav div:nth-child(1){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("../images/facial.jpg");
}

.nav div:nth-child(2){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("../images/makeup.jpg");
}

.nav div:nth-child(3){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("../images/spa.jpg");
}

.nav div:nth-child(4){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("../images/tan.jpg");
}

.nav div:nth-child(5){
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.9)),url("../images/legs.jpg");
}
.nav div:nth-child(6){
  display:none;
}

.nav div:hover{
  transition: 1.5s ease-in-out; 
  flex: 2;
}

.nav > div > h2 {
  margin-top: 20vh;
  font-size: 3em;
}

.nav > div > p {
  opacity: 0;
  cursor: pointer;
  color: white;
  transition: 3s ease-in-out;
}

.nav div:hover > *{
  opacity: 1;
  transition: 3s ease-in-out;
}

.bottom{
  min-height: 15vh;
  height:  15vh;
  order: 2;
  color: white;
  text-align: center;
  cursor: default;
}

.bottom  p{
  margin: auto auto;
  width: 30%;
  transition: 1s;
}

.bottom  p:hover{
  transition: 1s;
  color: brown;
  cursor: pointer;
}

@media screen and (max-width: 850px){
  .bottom{
    height:  20vh;
    order: 0;
  }
  .nav {
    flex-flow: row;
    flex-wrap: wrap;
    order: 1;
    overflow: scroll;
  }
  .nav div:hover{
    
  }
  .nav div{
    display: block;
    background-image: none;
    max-height: 100vh;
    flex-basis: 100%;
    max-width: 50%;
  }
  .nav > div > p{
    opacity: 1;
  }
  .nav div:nth-child(6){
  display:block;
}
}
