html,body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 0 0;
    }
h2 {
    font-family: 'Grand Hotel';
    font-weight: normal;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: white;
    }
p {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 23px;
    margin: 0 0 23px 0;
    }


body > section{
  display: flex;
  flex-direction: column;
  background-color: #353638;
}

.nav{
  height: 80vh;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  order: 1;
}

.nav div{
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 30%;
  flex: 1;
  transition: 1.5s ease-in-out;
  background-position: center bottom;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}


.nav div:nth-child(6){
  display:none;
}

.card{
  position: relative;
  overflow: hidden;
}

.card:after{
  content: '';    
  display: block;
  height: 100%;
  background-image: linear-gradient(rgba(53, 54, 56,0),rgba(53, 54, 56,.7));
  position: absolute;
    top: 0; left: 0;
    opacity: 1;
    width: 100%;
    z-index: -100;
    border-radius: inherit;
}

.card-image{
  height: 100%;
  position: absolute;
  top: 0;
  right: 10;
  z-index: -100;
  object-fit: contain;
}

.card:hover{
  transition: 1s ease-in-out; 
  flex: 2;
}

.card .card-title {
  margin-top: 20vh;
  font-size: 3em;
  z-index: 10;
}

.lower-titles{
  opacity: 0;
  cursor: pointer;
  color: white;
  transition: 2s ease-in-out;
  z-index: 10;
}


.card:hover > *{
  opacity: 1;
  transition: 1s ease-in-out;
}

.bottom{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  height:  20vh;
  color: white;
  text-align: center;
  cursor: default;
  background-color: #353638;
}

.bottom  p:hover{
  transition: 1s;
  color: brown;
  cursor: pointer;
}

@media screen and (max-width: 850px){
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  body{
    overflow-y:scroll;
  }
  .nav {
    height: 100%;
    flex-flow: row;
    flex-wrap: wrap;
  }
  .card{
    display: block;
    background-image: none;
    min-height: 70vh;
    min-width: 50%;
    flex-basis: 100%;
    max-width: 50%;
  }
  .card-title {
    margin-top: 10vh;
  }
  .lower-titles{
    opacity: 1;
  }
  .card-image{
    position: absolute;
    right: -150px;
    
  }
}
